<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Webpage</title>
</head>
<body>
  <!-- <p>
    {% if x_input %}
      input values: {{ [x_input] }}
    {% endif%}
  </p> -->

  <p>
    {% if prediction %}
    Prediction:<br><br>
      1 = US
      0 = Other
      {{ prediction|safe}}
    {% endif%}
  </p>



  <form action="/predict">
  <input type="submit" value="Submit" method="get"></input>


<table style="width:20%" border="1" float="left">
    {% for f in feature_names %}
      <tr>
        <td>
        {{ f }}
        </td>
        <td>
        <input type="text" name="{{ f }}" value=0>
        </td>

    {% endfor %}

        {% for f in attrib %}

            <td>
            {{ f }}
            </td>


        {% endfor %}
        </table>


<!-- <table style="width:20%" border="1" float="right">
    {% for f in pred_prob_hist %}
<tr>
  <td>
        {{ f }}
  </td>
</tr>
    {% endfor %}
</table> -->



</form>
</body>
</html>
